# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Java build output
bin/
target/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node / Next.js
node_modules/
.next/
out/

# Environment variables
.env
.env.local

# Archives
*.zip

# IDE
.idea/
*.iml